[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Goutham Pratapa (pratapaprasanna)
[access "refs/for/refs/*"]
	read = group user/Goutham Pratapa (pratapaprasanna)
	push = group user/Goutham Pratapa (pratapaprasanna)
	label-Code-Review = -2..+2 group user/Goutham Pratapa (pratapaprasanna)
	label-Verified = -1..+1 group user/Goutham Pratapa (pratapaprasanna)
	rebase = group user/Goutham Pratapa (pratapaprasanna)
	removeReviewer = group user/Goutham Pratapa (pratapaprasanna)
	submit = group user/Goutham Pratapa (pratapaprasanna)
[access "refs/heads/*"]
	read = group user/Goutham Pratapa (pratapaprasanna)
	create = group user/Goutham Pratapa (pratapaprasanna)
	push = +force group user/Goutham Pratapa (pratapaprasanna)
	pushMerge = group user/Goutham Pratapa (pratapaprasanna)
[access "refs/tags/*"]
	push = group user/Goutham Pratapa (pratapaprasanna)
	push = +force group user/Goutham Pratapa (pratapaprasanna)
